.application {
  &:extend(.col-lg-6);

  &__form {
    padding: 20px;
    max-width: 430px;
    margin-left: auto;
    background: fade(@black, 50%);
  }

  &__control {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: @border-radius;
    border: none;
  }
}
