.method {
  position: relative;
  background: url('img/lessen.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  .padding-ident();

  &__container {
    &:extend(.container);
    position: relative;
    z-index: 9;
  }

  &__title {
    .title();
    color: @white;
  }

  &__title-h3 {
    color: @white;
    font-size: @font-size--h4;
    text-align: center;
  }

  &__text {
    color: @white;
    text-align: center;
  }

  &__row {
    &:extend(.row);
  }

  &__column {
    &:extend(.col-lg-4);
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .method__icon {
        box-shadow: 0 0 0 10px fade(@white, 50%);
        // background-color: @white;
      }
    }
  }

  &__icon {
    display: flex;
    flex-direction: column;
    border: 3px solid @white;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: 0 auto 10px;
    transition: @transition-time;

    .icon {
      margin: auto;
      fill: @white;
    }
  }

  &::after {
    .dark();
    background: fade(@black, 70%)
  }
}
