.want-learn {
  background: @gray-darker;
  .padding-ident();

  &__container {
    &:extend(.container);
  }

  &__row {
    &:extend(.row);
    align-items: center;
  }

  &__column {
    &:extend(.col-md-6);
    text-align: center;

    .btn {
      display: block;
      max-width: 300px;
      width: 100%;
      margin: 0 auto;

      @media(min-width: @screen-md) {
        margin-left: auto;
        margin-right: initial;
      }
    }

    @media(min-width: @screen-md) {
      text-align: left;
    }
  }

  &__title {
    font-size: @font-size--h2;
    color: @white;
  }

  &__text {
    color: @white;
    margin-bottom: 20px;

    &--price {
      font-size: @fz-price;

      .icon {
        fill: @white;
      }
    }

    @media(min-width: @screen-md) {
      margin-bottom: 0px;
    }
  }
}
